# Argon2id hash of API key. Can be generated on this website: https://argon2.online/
# The provided hash is for "change_me". DO NOT USE IN PRODUCTION!
# Note: Enviornment variables override config.yml
API_KEY_HASH='$argon2id$v=19$m=16,t=2,p=1$MFk0OTU4Rm1SbGo5ejFRMw$+A8V9eU2u0GRjJjpg5kRfA'