.idea/
.vscode/

/target
/examples

# Ignore all files and folders in data, except .gitkeep files in the
# subfolders cache, originals, pending and uploads
/data/*
!/data/cache/
!/data/originals/
!/data/pending/
!/data/unapproved/
/data/cache/*
/data/originals/*
/data/pending/*
/data/unapproved/*
!/data/cache/.gitkeep
!/data/originals/.gitkeep
!/data/pending/.gitkeep
!/data/unapproved/.gitkeep

# Ingore .env files everywhere
**/.env
